@model BlackHoles.Models.IndexViewModel
@{
    ViewBag.Title = "Настройки";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Настройка учетной записи</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Пароль:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("изменить", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("задать", "SetPassword")
            }
            ]
        </dd>
        <dt>Внешняя аутентификация:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Настроить", "ManageLogins") ]
        </dd>
    </dl>
</div>
