@using BlackHoles.Models
@model Author


@using (Html.BeginForm())
{
  @Html.AntiForgeryToken()

  <div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <table class="table">
      <tr>
        <td>@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })</td>
        <td width="60%">
          <div>
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
          </div>
        </td>
        <td>Будет опубликован в статье и по нему будет высылаться PDF.</td>
      </tr>

      <tr><td colspan="3" class="alert alert-info">Следующие поля заполняются на <b>русском</b> языке:</td></tr>

      <tr>
        <td>@Html.LabelFor(model => model.RusSurname, htmlAttributes: new { @class = "control-label col-md-2" })</td>
        <td>
          <div>
            @Html.EditorFor(model => model.RusSurname, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RusSurname, "", new { @class = "text-danger" })
          </div>
        </td>
        <td>В именительном падеже. С прописной буквы. Например: Иванов</td>
      </tr>

      <tr>
        <td>@Html.LabelFor(model => model.RusInitials, htmlAttributes: new { @class = "control-label col-md-2" })</td>
        <td>
          <div>
            @Html.EditorFor(model => model.RusInitials, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RusInitials, "", new { @class = "text-danger" })
          </div>
        </td>
        <td>Разделяются пробелом. Первым идет имя. Без сокращений (не допускается писать инициалы). В именительном падеже. С прописной буквы каждое слово. Например: Петр Васильевич</td>
      </tr>

      <tr>
        <td>@Html.LabelFor(model => model.RusOrgName, "Место", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EnumDropDownListFor(x => x.OrganizationKind, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.OrganizationKind, "", new { @class = "text-danger" })
        </td>
        <td>
          <div>
            @Html.EditorFor(model => model.RusOrgName, new { htmlAttributes = new { style = "max-width:none", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RusOrgName, "", new { @class = "text-danger" })
          </div>
        </td>
        <td>
          В именительном падеже. Это поле не должно содержать ничего, кроме названия учебного заведения или компании. Если вы учитесь/работаете 
          в филиале некоторого института, то следует писать «Название филиала в именительном падеже (филиал) Название института в именительном падеже». 
          По этому полю автор идентифицируется в <a href="http://elibrary.ru/project_risc.asp">РИНЦ</a>. 
          Если по каким-то соображениям вы не можете указать текущее место работы, указывайте место учебы. 
          Должность и подразделение, при этом, указывать не следует. <b>Пример</b>:&nbsp;Ростовский институт (филиал) ВГУЮ (РПА Минюста России).
        </td>
      </tr>

      <tr>
        <td>@Html.LabelFor(model => model.RusSubdivision, htmlAttributes: new { @class = "control-label col-md-2" })</td>
        <td>
          <div>
            @Html.EditorFor(model => model.RusSubdivision, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RusSubdivision, "", new { @class = "text-danger" })
          </div>
        </td>
        <td>@InfoOptional() Будет вписано в реквизиты автора, в статье. Например: Кафедра права.</td>
      </tr>

      <tr>
        <td>@Html.LabelFor(model => model.RusPosition, htmlAttributes: new { @class = "control-label col-md-2" })</td>
        <td>
          <div>
            @Html.EditorFor(model => model.RusPosition, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RusPosition, "", new { @class = "text-danger" })
          </div>
        </td>
        <td>@InfoOptional() Будет вписано в реквизиты автора, в статье. Например: Старший преподаватель.</td>
      </tr>

      <tr>
        <td>@Html.LabelFor(model => model.ScienceDegree, htmlAttributes: new { @class = "control-label col-md-2" })</td>
        <td>
          <div>
            @Html.EditorFor(model => model.ScienceDegree, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ScienceDegree, "", new { @class = "text-danger" })
          </div>
        </td>
        <td>@InfoOptional() Будет вписано в реквизиты автора, в статье. Учёное звание, учёная степень. Например: д-р юрид. наук, доцент.</td>
      </tr>

      <tr>
        <td>@Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })</td>
        <td>
          <div>
            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
          </div>
        </td>
        <td>@InfoOptional() Используется для связи с автором. Публично недоступно.</td>
      </tr>

      <tr><td colspan="3" class="alert alert-info">Почтовые реквизиты. По ним будет <b>отправляться</b> номер, в случае оплаты доставки:</td></tr>

      <tr>
        <td>@Html.LabelFor(model => model.Postcode, htmlAttributes: new { @class = "control-label col-md-2" })</td>
        <td>
          <div>
            @Html.EditorFor(model => model.Postcode, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Postcode, "", new { @class = "text-danger" })
          </div>
        </td>
        <td>
          <p>Это поле должно быть заполнено, <b>если заполенно поле @Html.NameFor(model => model.PostalAddress)</b></p>
          <p><a href="https://www.pochta.ru/post-index">Поиск индекса</a></p>
        </td>
      </tr>

      <tr>
        <td>@Html.LabelFor(model => model.PostalAddress, htmlAttributes: new { @class = "control-label col-md-2" })</td>
        <td>
          <div>
            @Html.EditorFor(model => model.PostalAddress, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PostalAddress, "", new { @class = "text-danger" })
          </div>
        </td>
        <td><p>@InfoOptional() Адрес ледует заполнить, если автору нужно получить бумажный экземпляр номера.
        Если это поле незаполнено или в заявке на публикацию не указано, что автору требуется экземпляр,
        автору будет выслана только электронная версия статьи в формете PDF.</p>
        <p>В адресе <b>обязательно должны</b> быть указаны: город, улица, номер дома, кварита. В случае организации - ее название. 
          Если требуется доставка за пределы РФ, следует указать Страну. Если получатель отличается от автора, следует указать получателя.</p>
        </td>
      </tr>

      <tr><td colspan = "3" class="alert alert-info">Следующие поля заполняются на<b>английсокм</b> языке:</td></tr>

      <tr>
        <td>@Html.LabelFor(model => model.EnuSurname, htmlAttributes: new { @class = "control-label col-md-2" })</td>
        <td>
          <div>
            @Html.EditorFor(model => model.EnuSurname, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EnuSurname, "", new { @class = "text-danger" })
          </div>
        </td>
        <td>В именительном падеже.С прописной буквы.Например: Ivanov.@Shared.AutoTranslate("Surname")</td>
      </tr>

      <tr>
        <td>@Html.LabelFor(model => model.EnuInitials, htmlAttributes: new { @class = "control-label col-md-2" })</td>
        <td>
          <div>
            @Html.EditorFor(model => model.EnuInitials, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EnuInitials, "", new { @class = "text-danger" })
          </div>
        </td>
        <td>Имя.С прописной буквы.Например: Peter.@Shared.AutoTranslate("Initials")</td>
      </tr>

      <tr>
        <td>@Html.LabelFor(model => model.EnuOrgName, htmlAttributes: new { @class = "control-label col-md-2" })</td>
        <td>
          <div>
            @Html.EditorFor(model => model.EnuOrgName, new { htmlAttributes = new { style = "max-width:none", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EnuOrgName, "", new { @class = "text-danger" })
          </div>
        </td>
        <td>В именительном подеже.Это поле не должно содержать ничего кроме названия учебного заведения или компании. .@Shared.AutoTranslate("OrgName")</td>
      </tr>
    </table>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        @Shared.BackButton()&nbsp;&nbsp;<input type = "submit" value="Записать" class="btn btn-primary" />
      </div>
    </div>
  </div>
}

<div>@Html.ActionLink("К списку авторов", "Index")</div>

@section Scripts { @Scripts.Render("~/bundles/jqueryval") }

        @helper InfoOptional()
        {
  @:Необязательное поле. <span class="text-warning">Оставьте его пустым</span>, если для него нет информации.
}
