@model BlackHoles.Entities.Author


@using (Html.BeginForm())
{
  @Html.AntiForgeryToken()

  <div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <table class="table">
      <tr>
        <td>@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })</td>
        <td width="60%">
          <div>
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
          </div>
        </td>
        <td>Будет опубликован в статье и по нему будет высылаться PDF.</td>
      </tr>

      <tr><td colspan="3" class="label-info">Следующие поля заплняются на <b>русском</b> языке:</td></tr>

      <tr>
        <td>@Html.LabelFor(model => model.RusSurname, htmlAttributes: new { @class = "control-label col-md-2" })</td>
        <td>
          <div>
            @Html.EditorFor(model => model.RusSurname, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RusSurname, "", new { @class = "text-danger" })
          </div>
        </td>
        <td>В именительном подеже. С прописной буквы. Например: Иванов</td>
      </tr>

      <tr>
        <td>@Html.LabelFor(model => model.RusInitials, htmlAttributes: new { @class = "control-label col-md-2" })</td>
        <td>
          <div>
            @Html.EditorFor(model => model.RusInitials, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RusInitials, "", new { @class = "text-danger" })
          </div>
        </td>
        <td>Через пробле. Например: Петр Васильевич</td>
      </tr>

      <tr>
        <td>@Html.LabelFor(model => model.RusOrgName, htmlAttributes: new { @class = "control-label col-md-2" })</td>
        <td>
          <div>
            @Html.EditorFor(model => model.RusOrgName, new { htmlAttributes = new { style = "max-width:none", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RusOrgName, "", new { @class = "text-danger" })
          </div>
        </td>
        <td>
          В именительном подеже. Это поле не должно содержать ничего кроме названия учебного заведения или компании. По нему автор идентифицируется в <a href="http://elibrary.ru/project_risc.asp">РИНЦ</a>.
          Например: Ростовский институт (филиал) ВГУЮ (РПА Минюста России)
        </td>
      </tr>

      <tr>
        <td>@Html.LabelFor(model => model.RusSubdivision, htmlAttributes: new { @class = "control-label col-md-2" })</td>
        <td>
          <div>
            @Html.EditorFor(model => model.RusSubdivision, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RusSubdivision, "", new { @class = "text-danger" })
          </div>
        </td>
        <td>Необязательное поле. Будет вписано в реквизиты автора, в статье. Например: Кафедра права</td>
      </tr>

      <tr>
        <td>@Html.LabelFor(model => model.RusPosition, htmlAttributes: new { @class = "control-label col-md-2" })</td>
        <td>
          <div>
            @Html.EditorFor(model => model.RusPosition, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RusPosition, "", new { @class = "text-danger" })
          </div>
        </td>
        <td>Необязательное поле. Будет вписано в реквизиты автора, в статье. Например: Старший преподаватель</td>
      </tr>

      <tr>
        <td>@Html.LabelFor(model => model.ScienceDegree, htmlAttributes: new { @class = "control-label col-md-2" })</td>
        <td>
          <div>
            @Html.EditorFor(model => model.ScienceDegree, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ScienceDegree, "", new { @class = "text-danger" })
          </div>
        </td>
        <td>Необязательное поле. Будет вписано в реквизиты автора, в статье. Учёное звание, учёная степень. Например: д-р юрид. наук, доцент</td>
      </tr>

      <tr>
        <td>@Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })</td>
        <td>
          <div>
            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
          </div>
        </td>
        <td>Необязательное поле. Используется для связи с автором.</td>
      </tr>

      <tr><td colspan="3" class="label-info">Следующие поля заплняются на <b>английсокм</b> языке:</td></tr>

      <tr>
        <td>@Html.LabelFor(model => model.EnuSurname, htmlAttributes: new { @class = "control-label col-md-2" })</td>
        <td>
          <div>
            @Html.EditorFor(model => model.EnuSurname, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EnuSurname, "", new { @class = "text-danger" })
          </div>
        </td>
        <td>В именительном подеже. С прописной буквы. Например: Ivanov. @Shared.AutoTranslate("Surname")</td>
      </tr>

      <tr>
        <td>@Html.LabelFor(model => model.EnuInitials, htmlAttributes: new { @class = "control-label col-md-2" })</td>
        <td>
          <div>
            @Html.EditorFor(model => model.EnuInitials, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EnuInitials, "", new { @class = "text-danger" })
          </div>
        </td>
        <td>Имя. С прописной буквы. Например: Peter. @Shared.AutoTranslate("Initials")</td>
      </tr>

      <tr>
        <td>@Html.LabelFor(model => model.EnuOrgName, htmlAttributes: new { @class = "control-label col-md-2" })</td>
        <td>
          <div>
            @Html.EditorFor(model => model.EnuOrgName, new { htmlAttributes = new { style = "max-width:none", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EnuOrgName, "", new { @class = "text-danger" })
          </div>
        </td>
        <td>В именительном подеже. Это поле не должно содержать ничего кроме названия учебного заведения или компании. . @Shared.AutoTranslate("OrgName")</td>
      </tr>
    </table>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        @Shared.BackButton()&nbsp;&nbsp;<input type="submit" value="Записать" class="btn btn-primary" />
      </div>
    </div>
  </div>
}

<div>@Html.ActionLink("К списку авторов", "Index")</div>

@section Scripts { @Scripts.Render("~/bundles/jqueryval") }
