@model IEnumerable<BlackHoles.Entities.Author>

@{ ViewBag.Title = "Авторы"; }

<div style="max-width: 1200px; margin: auto;">
  <h2>Авторы</h2>

  <p>Доавьте сюда авторов которые будут использоваться в публикуемых вами статьях.</p>

  @Html.ActionLink("Добавить автора", "Create", null, new { @class = "btn btn-primary", style = "margin-bottom: 10px;" })

  <table class="table">
    <tr>
      <th>@Html.DisplayNameFor(model => model.RusSurname)</th>
      <th>@Html.DisplayNameFor(model => model.RusInitials)</th>
      <th>@Html.DisplayNameFor(model => model.RusOrgName)</th>
      <th>@Html.DisplayNameFor(model => model.Email)</th>
      <th>&nbsp;</th>
    </tr>

    @foreach (var item in Model)
    {
      <tr>
        <td>@Html.DisplayFor(modelItem => item.RusSurname)</td>
        <td>@Html.DisplayFor(modelItem => item.RusInitials)</td>
        <td>@Html.DisplayFor(modelItem => item.RusOrgName)</td>
        <td>@Html.DisplayFor(modelItem => item.Email)</td>
        @Shared.TableRowButtons(new { id = item.Id })
      </tr>
    }
  </table>
</div>