@using BlackHoles.DataContexts;
@using BlackHoles.Entities;
@using BlackHoles.Utils;
@using System.Security.Principal;
@model IEnumerable<Author>

@{
  IssuesDb db = new IssuesDb();
  var ajaxOptions = new AjaxOptions
  {
    Url = Url.Action("AddAuthorsAjax"),
    UpdateTargetId = "items",
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "POST"
  };
}

<table class="table">
  @foreach (var item in Model)
  {
    <tr>
      <td nowrap>@Html.Hidden("Id", item.Id)@Html.DisplayFor(modelItem => item.RusSurname) @Html.DisplayFor(modelItem => item.RusInitials) (@Html.DisplayFor(modelItem => item.Email))</td>
    </tr>
  }
  <tr>
    <td nowrap>
      @Html.DropDownList("Authors", GetAuthors(db, User))
      @functions{
        List<SelectListItem> GetAuthors(IssuesDb db, IPrincipal principal)
        {
          var userId = principal.GetUserId();
          var users = (from u in db.Users
                       join a in db.Authors on u equals a.Owner
                       select new SelectListItem()
                       {
                         Value = a.Id.ToString(),
                         Text = a.RusSurname + " " + a.RusInitials + " (" + a.Email + ")"
                       }).ToList();
          users.Insert(0, new SelectListItem() { Value = "-1", Text = "Выберите автора...", Selected = true, Disabled = true });

          return users;
        }
      }
      <input type="submit" value="Добавить автора" />
      @Ajax.ActionLink("Добавить автора", "AddAuthorsAjax", new { autorId = 1 }, ajaxOptions)
    </td>
  </tr>
</table>
