@using BlackHoles.Models
@model Article

<style>
  .body-content {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 800px;
  }
</style>

@{
  ViewBag.Title = "Сводная информация о статье";
}

<a href='@Url.Action("Edit", new { id = Model.Id })' class="btn btn-primary" title="Изменить"><img width="20" height="20" src='@Url.Content("~/Images/Edit-white.svg")' /></a>
@Shared.BackButton()
<a href='@Url.Action("Index", "Home")' class="btn btn-primary" title="Перейти к главной странице"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>

<div>
  <dl class="dl-horizontal">
    <dt>Идентификатор:</dt>
    <dd>@Html.DisplayFor(model => model.Id)</dd>

    <dt>@Html.DisplayNameFor(model => model.Status):</dt>
    <dd>@Html.DisplayFor(model => model.Status)</dd>

    <dt>@Html.DisplayName("№ журнала"):</dt>
    <dd>№ @Html.DisplayFor(model => model.IssueNumber) за @Html.DisplayFor(model => model.IssueYear) год</dd>

    <dt>@Html.DisplayNameFor(model => model.ShortArtTitles):</dt>
    <dd>@Html.DisplayFor(model => model.ShortArtTitles)</dd>

    <dt>@Html.DisplayNameFor(model => model.Created):</dt>
    <dd>@Html.DisplayFor(model => model.Created)</dd>

    <dt>@Html.DisplayNameFor(model => model.Modified):</dt>
    <dd>@Html.DisplayFor(model => model.Modified)</dd>

    <dt>Разместил:</dt>
    <dd>"@Html.DisplayFor(model => model.Owner.UserName)" &lt;@(Html.DisplayFor(model => model.Owner.Email))&gt;</dd>

    @if (User.IsInRole(Constants.EditorRole))
    {
      <dt>Заголовок для письма:</dt>
      <dd>Замечание по статье автор@(Model.AuthorsPlural) @Model.GetAuthorsBriefFios() '@Model.ShortArtTitles'</dd>

      <dt>Телефоны авторов:</dt>
      <dd>@string.Join(", ", Model.Authors.Where(a => !string.IsNullOrWhiteSpace(a.Phone)).Select(a => a.MakeBriefFio() + ": " + a.Phone))</dd>
    }

    <dt>@Html.DisplayNameFor(model => model.Specialty):</dt>
    <dd>@Html.DisplayFor(model => model.Specialty)</dd>

    <dt>Файлы:</dt>
    @{
      var docUrl     = Url.Action("Doc", new { id = Model.Id });
      var docPrevUrl = Url.Action("DocPrev", new { id = Model.Id });
    }
    <dd><a href="@docUrl"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> статья</a> (@Html.DisplayFor(m => m.ArticleDate))
      @if (User.IsInRole(Constants.EditorRole))
      {
          @:| <a href="@docPrevUrl"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> прошлая версия</a>
      }
      |
      @if (Model.ReviewTextVersions > 0)
      {
        <a href="@Url.Action("ReviewTxt", new { id = Model.Id })"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> рецензия (текст)</a>
      }
      else
      {
        <span class="label label-danger">рецензия (текст) не загружена!</span>
      }
      |
      @if (Model.ReviewImgVersions > 0)
      {
        <a href="@Url.Action("ReviewImg", new { id = Model.Id })"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> рецензия (фото)</a>
      }
      else
      {
        <span class="label label-danger">рецензия (фото) не загружена!</span>
      }
    </dd>

    @if (Model.AntiplagiatApdx > 0 && Model.AntiplagiatApdx == Model.AntiplagiatPdf)
    {
      <dt>Отчеты&nbsp;antiplagiat.ru:</dt>
      var apdxUrl = Url.Action("AntiplagiatApdx", new { id = Model.Id });
      var pdfUrl  = Url.Action("AntiplagiatPdf", new { id = Model.Id });
      <dd>
        <a href="@pdfUrl" ><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> в формате .pdf</a>, 
        <a href="@apdxUrl"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> в формате .apdx</a> (@Html.DisplayFor(m => m.AntiplagiatDate)) <a href="http://www.antiplagiat.ru/Page/Antiplagiat-report-viewer" target="_blank">Antiplagiat ReportViewer</a>
      </dd>
      }
      else if (Model.AntiplagiatApdx != Model.AntiplagiatPdf)
      {
        <dt>Отчеты&nbsp;antiplagiat.ru:</dt>
        <dd class="text-danger">Несовпадает количество отчетов Antiplagiat! Обратитесь в редакцию.</dd>
      }
  @if (User.IsInRole(Constants.EditorRole))
  {
    using (Html.BeginForm("UploadAntiplagiat", "Articles", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
      @Html.AntiForgeryToken()
      @Html.ValidationSummary(true, "", new { @class = "text-danger" })
      @Html.HiddenFor(model => model.Id)
      <dt>PDF-отчет:</dt>
      <dd><input type="file" name="antiplagiatPdf" id="antiplagiatPdf" accept="application/pdf" /></dd>

      <dt>APDX-отчет:</dt>
      <dd><input type="file" name="antiplagiatApdx" id="antiplagiatApdx" accept="application/apdx,.apdx" /></dd>
      <dd>
        @Html.ValidationMessage("UploadAntiplagiatValidation", "", new { @class = "text-danger" })<br />
        <input type="submit" value="Загрузить отчеты Antiplagiat" title="Загрузить отчеты Antiplagiat" class="btn btn-primary" @*onclick="return onSubmit();"*@ />
      </dd>
    }
  }
  </dl>
</div>

<hr />

<h2 class="text-center bold">@Html.DisplayFor(model => model.RusArtTitles)</h2>

@foreach (var author in Model.Authors)
{
  @Html.Partial("AuthorDetailsRus", author)
}

<div class="with-spacing">
  <b>Аннотация:</b>&nbsp;@Html.DisplayFor(model => model.RusAbstract)
</div>

<div class="with-spacing">
  <b>Ключевые&nbsp;слова:</b>&nbsp;@Html.DisplayFor(model => model.RusKeywords)
</div>

<hr />

<h2 class="text-center bold">@Html.DisplayFor(model => model.EnuArtTitles)</h2>

@foreach (var author in Model.Authors)
{
  @Html.Partial("AuthorDetailsEnu", author)
}

<div class="with-spacing">
  <b>Annotation:</b>&nbsp;@Html.DisplayFor(model => model.EnuAbstract)
</div>

<div class="with-spacing">
  <b>Keywords:</b>&nbsp;@Html.DisplayFor(model => model.EnuKeywords)
</div>

<hr />

<h4 class="bold">Список литературы</h4>
<div class="no-line-break with-spacing">
@Html.DisplayFor(model => model.References)
</div>

<hr />

<p>
  @Html.ActionLink("Изменить", "Edit", new { id = Model.Id }) |
  @Html.ActionLink("Возврат к списку", "Index")
</p>
