@using BlackHoles.Models
@model Article

<style>
  .body-content {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 800px;
  }
</style>

@{
  ViewBag.Title = "Сводная информация о статье";
}

<div>
  <dl class="dl-horizontal">
    <dt>Идентификатор:</dt>
    <dd>@Html.DisplayFor(model => model.Id)</dd>

    <dt>@Html.DisplayNameFor(model => model.ShortArtTitles):</dt>
    <dd>@Html.DisplayFor(model => model.ShortArtTitles)</dd>

    <dt>@Html.DisplayNameFor(model => model.Created):</dt>
    <dd>@Html.DisplayFor(model => model.Created)</dd>

    <dt>@Html.DisplayNameFor(model => model.Modified):</dt>
    <dd>@Html.DisplayFor(model => model.Modified)</dd>

    <dt>Разместил</dt>
    <dd>@Html.DisplayFor(model => model.Owner.UserName) (@Html.DisplayFor(model => model.Owner.Email))</dd>

    <dt>@Html.DisplayNameFor(model => model.Specialty):</dt>
    <dd>@Html.DisplayFor(model => model.Specialty)</dd>

    <dt>Последние версии файлов:</dt>
    <dd>@Html.ActionLink("статья", "Doc",                 new { id = Model.Id }) |
        @Html.ActionLink("рецензия (текст)", "ReviewTxt", new { id = Model.Id }) |
        @Html.ActionLink("рецензия (фото)",  "ReviewImg", new { id = Model.Id })
    </dd>
</dl>
</div>

<hr />

<h2 class="text-center bold">@Html.DisplayFor(model => model.RusArtTitles)</h2>

@foreach (var author in Model.Authors)
{
  @Html.Partial("AuthorDetailsRus", author)
}

<div class="with-spacing">
  <b>Аннотация:</b>&nbsp;@Html.DisplayFor(model => model.RusAbstract)
</div>

<div class="with-spacing">
  <b>Ключевые&nbsp;слова:</b>&nbsp;@Html.DisplayFor(model => model.RusKeywords)
</div>

<hr />

<h2 class="text-center bold">@Html.DisplayFor(model => model.EnuArtTitles)</h2>

@foreach (var author in Model.Authors)
{
  @Html.Partial("AuthorDetailsEnu", author)
}

<div class="with-spacing">
  <b>Annotation:</b>&nbsp;@Html.DisplayFor(model => model.EnuAbstract)
</div>

<div class="with-spacing">
  <b>Keywords:</b>&nbsp;@Html.DisplayFor(model => model.EnuKeywords)
</div>

<hr />

<h4 class="bold">Список литературы</h4>
<div class="no-line-break with-spacing">
@Html.DisplayFor(model => model.References)
</div>

<hr />

<p>
  @Html.ActionLink("Изменить", "Edit", new { id = Model.Id }) |
  @Html.ActionLink("Возврат к списку", "Index")
</p>
