@using BlackHoles.Utils;
@model IEnumerable<BlackHoles.Entities.Article>

@{
  var title = "Публикуемые статьи";
  ViewBag.Title = title;
}

<div style="max-width: 1200px; margin: auto;">
  <h2>@title</h2>

  <p>
    @Html.ActionLink("Доабавить статью", "Create", null, new { @class = "btn btn-primary" })
  </p>
  <table class="table">
    <tr>
      <th>@Html.DisplayNameFor(model => model.Status)</th>
      <th>@Html.DisplayNameFor(model => model.Authors)</th>
      <th>@Html.DisplayNameFor(model => model.ShortArtTitles)</th>
      <th>@Html.DisplayNameFor(model => model.Created)</th>
      <th>@Html.DisplayNameFor(model => model.Modified)</th>
      <th>@Html.Label("Файлы")</th>
      @if (User.IsInRole(Constants.EditorRole))
      {
        <th>Зарегистрировал</th>
      }
      <th></th>
    </tr>

    @foreach (var article in Model)
    {
      <tr>
        <td><span class="@article.Status">@Html.DisplayFor(modelItem => article.Status)</span></td>
        <td>@article.GetAuthorsBriefFios()</td>
        <td>@Html.DisplayFor(modelItem => article.ShortArtTitles)</td>
        <td>@Html.DisplayFor(modelItem => article.Created)</td>
        <td>@Html.DisplayFor(modelItem => article.Modified)</td>
        <td>
          @Html.CheckBox("ArticleVersions", article.ArticleVersions > 0, new { Title = $"Загружено версий статьи:  {article.ArticleVersions}", @readonly = "readonly", disabled = "disabled" })
        @Html.CheckBox("ReviewTextVersions", article.ReviewTextVersions > 0, new { Title = $"Загружено текстовых версий рецензий или отзывов ученого совета: {article.ReviewTextVersions}", @readonly = "readonly", disabled = "disabled" })
        @Html.CheckBox("ReviewImgVersions", article.ReviewImgVersions > 0, new { Title = $"Загружено фото-версий рецензий или отзывов ученого совета: {article.ReviewImgVersions}", @readonly = "readonly", disabled = "disabled" })
      </td>
      @if (User.IsInRole(Constants.EditorRole))
      {
        <td>@Html.DisplayFor(modelItem => article.Owner.UserName) (@Html.DisplayFor(modelItem => article.Owner.Email))</td>
      }
      @Shared.TableRowButtons(new { id = article.Id })
    </tr>
    }
  </table>
</div>