@using BlackHoles.Utils;
@model IEnumerable<BlackHoles.Entities.Article>

@{
  var title = "Публикуемые статьи";
  ViewBag.Title = title;
}

<h2>@title</h2>

<p>
  @Html.ActionLink("Доабавить статью", "Create", null, new { @class = "btn btn-primary btn-lg" })
</p>
<table class="table">
  <tr>
    <th>@Html.DisplayNameFor(model => model.Authors)</th>
    <th>@Html.DisplayNameFor(model => model.ShortArtTitles)</th>
    <th>@Html.DisplayNameFor(model => model.Created)</th>
    <th>@Html.DisplayNameFor(model => model.Modified)</th>
  </tr>

  @foreach (var article in Model)
  {
    <tr>
      <td>
        @string.Join(", ", article.Authors.Select(DbUtils.MakeBriefFio))
      </td>
      <td>@Html.DisplayFor(modelItem => article.ShortArtTitles)</td>
      <td>@Html.DisplayFor(modelItem => article.Created)</td>
      <td>@Html.DisplayFor(modelItem => article.Modified)</td>
      @Shared.TableRowButtons(new { id = article.Id })
    </tr>
  }
</table>
