@using BlackHoles.Utils

@{ ViewBag.Title = "Требования"; }

<div style="max-width: 900px; margin: auto;">
  @Shared.HomeTab(ViewContext.RouteData.Values["action"].ToString())

  <h3 class="text-center bold">Рекомендации по борьбе с заимствованиями</h3>

  <p>В соответствии с нашими требованиями и требованиями ВАК, корректной цитатой является взятая в кавычки часть текста другого произведения, 
  за которой следует ссылка в формате [номер] (подробнее см. @Html.ActionLink("требования по оформлению цитат", "FormattingRequirements")).
  </p>

  <p>
    Оригинальным текстом является текст, написанный непосредственно автором (авторами) в этой статье. Если текст обнаруживается
    системой @Shared.Antiplagiat() в других произведениях, этот текст <b>не</b> считается оригинальным. Обратите внимание, что заимствования из других своих произведений 
    не являются плагиатом, но так же не являются и оригинальным текстом.
    Тоже самое относится к заимствованиям из документов и нормативных актов.
  </p>

  <p>
    Весь текст, не написанный собственноручно, нужно оформлять в виде цитат. <b>Самоцитирование и цитирование документов</b> так же должно быть
    оформлено в соответствии с @Html.ActionLink("требования по оформлению цитат", "FormattingRequirements", null, null, null, "citation", null, null).
  </p>

  <p>
    ВАК предъявляет строгие требования к научным публикациям. Причем как к авторам, так и к редакциям научных изданий. 
    Поэтому в ваших (и наших) интересах не допускать заимствований, не оформленных в виде цитат.
  </p>

  <p>
    Для того чтобы убедиться, что вы не допустили заимствований текст нужно проверить в системе @Shared.Antiplagiat().
  </p>

  <p class="alert alert-danger">
    Проверка статьи в системе @Shared.Antiplagiat() повышает вероятность ее публикации, и ускорит принятие решения о ее публикации!
    Статьи, <b>содержащие заимствования</b>, <b>некорректное цитирование</b> или процент оригинального текста 
    в которых <b>меньше @Constants.OriginalityPercentage%</b> автоматически <b>не принимаются к публикации</b>!
  </p>

  <p>
    Если система показала менее @Constants.OriginalityPercentage% оригинальности текста, такую статью следует переработать, 
    прежде чем отправлять в редакцию.
    В первую очередь нужно бороться с тем, что система распознала как заимствование (выделяется коричневым цветом).
  </p>

  <p>
    Авторы @Shared.Antiplagiat() позволяют проверять статьи на плагиат бесплатно но, к сожалению, это практически ничего не дает,
    так как при этом не используются необходимые модули и не предоставляется отчет, из которого можно понять, что же
    распознается системой как заимствования.
    Бесплатная проверка может выявить только полное несоответствие требованиям по оригинальности текста. Если она показывает
    менее @Constants.OriginalityPercentage% оригинального текста, такую статью отсылать в редакцию бесполезно.
  </p>

  <p>
    Для проверки вам придется зарегистрироваться на @Shared.Antiplagiat() и приобрести платные тарифы, так же подключить следующие 
    дополнительные модули:
   <ul>
     <li>Коллекция eLIBRARY.RU.</li>
     <li>Коллекция LEXPRO.</li>
     <li>Коллекция диссертаций РГБ (при подготовке к защите диссертации). Мы не используем этот модуль. Так, что 
     если заимствования были из диссертаций, не опубликованных в Интернет, мы их не обнаружим!</li>
   </ul>
  </p>

  <p>
    При проверке документа следует отметить галочку (чекбокс) <b>«Вывести полный отчет»</b> и галочки
    соответствующих модулей. Обратите внимание, что эти услуги доступны только за деньги! Подключить их
    можно в разделе <a href="http://www.antiplagiat.ru/Page/Tariffs" target="_blank">Тарифы</a>. 
  </p>

  <p>
    Модуль «<b>Коллекция LEXPRO</b>» содержит <b>«белый список»</b> цитирования, позволяющий системе не рассматривать
    как плагиат цитаты нормативных актов. Однако не стоит полагаться на белый список. Цитаты из нормативных
    актов следует выделять кавычками, за которыми идет ссылка на соответствующее вхождение в списке литературы
    (т.е. по всем правилам цитирования). Заимствования этого типа выделяются зеленым цветом.
  </p>

  <p>
    «<b>Коллекция eLIBRARY.RU</b>» — коллекция научных статей электронной библиотеки eLIBRARY.RU. К сожалению, модуль "Интернет"
    не "видит" заимствований из них, даже если статьи доступны публично на https://elibrary.ru.
  </p>

  <p>
    «<b>Коллекция РГБ</b>» — коллекция диссертаций и авторефератов Российской государственной библиотеки (РГБ).
    Если вы готовитесь к защите, мы советуем использовать эти модули.
  </p>

  <p>
    После того как отчет будет сформирован, пролистайте его, обращая внимание на абзацы, распознанные
    как заимствования (помечены коричневым цветом). Такие абзацы нужно удалить или оформить как цитату.
  </p>

  <p class="alert alert-danger">
    Ни в коем случае не пытайтесь изменить (отредактировать) отдельные слова в абзацах распознающихся как заимствованные!
    Это все равно приведет к тому, что @Shared.Antiplagiat() или эксперты смогут выявить заимствование, но при этом уже будет
    ясно, что это не случайное заимствование, а осознанный плагиат!
  </p>

  <p>
    Предложения, помеченные зеленым или коричневым, нужно оформить в качестве цитат (в соответствии с требованиями) или удалить.
  </p>

  <p>
    Если отчет показал, что процент оригинального текста меньше @Constants.OriginalityPercentage%, следует уменьшить объем цитат,
    или дописать оригинального текста.
  </p>

  <p>
    При проверке из документа можно удалить список литературы и метаинформацию (кроме аннотации). Иногда списки литературы 
    дают большой процент "ложного" цитирования. 
  </p>

  <p>
    Можно не обращать внимание на мелкие, отдельные фрагменты текста, являющиеся расхожими (общепринятыми
    фразами), и на «плагиат», распознанный в списке литературы. Однако наличие в предложении множества подсвеченных фрагментов
    часто указывает на попытку отредактировать чужой текст или на то, что заимствованный текст сам по себе содержал заимствования 
    (например, из документов). Такие абзацы так же лучше удалить или найти оригинальную цитату и привести ее.
    Убедиться в том, что цитата встречается в других местах можно скопировав текст в буфер обмена и произведя его поиск с помощью 
    <a href="http://www.google.ru">http://www.google.ru</a> или <a href="http://www.yandex.ru">http://www.yandex.ru</a>.
  </p>

  <p>Демонстрация использования www.antiplagiat.ru. Обратите внимание, что у вас уже должна быть зарегистрирована учетная запись и зачислены деньги на счет antiplagiat.ru (это можно сделать по ссылке "Баланс:").</p>

  <img src=@Url.Content("~/Images/antiplagiat.gif") />

  @Shared.HomeLinks(ViewContext.RouteData.Values["action"].ToString())
</div>
