
@{ ViewBag.Title = "Порядок и условия публикации"; }

<div style="max-width: 900px; margin: auto;">
  @Shared.HomeTab(ViewContext.RouteData.Values["action"].ToString())

  <h3 class="text-center bold">Порядок и условия публикации статей в журнале @Constants.AdminRole, права и обязанности авторов</h3>

  <p>
    Публикация в журнале <b>платная</b> (@Html.ActionLink("стоимость и условия оплаты доступны по ссылке", "Prices")).
    <b><font color="red">Оплата производится после принятия</font></b> статьи к публикации.

  <p>Заявка на публикацию статьи подается в автоматизированной истеме на этом сайте. Подробности описаны в @Html.ActionLink("требованиях", "Requirements").

  <p>
    Согласно условиям @Html.ActionLink("лицензионного договора", "Oferta") Издательство как Лицензиат вправе использовать Произведение (статью и все входящие в нее составные части) на безвозмездной основе посредством:<br />
    а) воспроизведения (полное или частичное) Произведения в средствах массовой информации;<br />
    б) распространения экземпляров Произведения или его части любым способом;<br />
    в) импортирования экземпляров Произведения или его части;<br />
    г) переработки, в том числе перевода Произведения;<br />
    д) доведения Произведения или его части до всеобщего сведения.<br />
  <p>Автор несет персональную ответственность за содержание и оформление предоставляемых к публикации материалов, ответственность за содержание и оформление рецензии, ответственность за отзыв/рецензию на статью несут автор статьи и рецензент.
  <p>Автор несет ответственность за наличие в представляемом материале любых форм неправомерного заимствования. В случае обнаружения заимствования, не согласующегося с законодательством об авторском праве и смежных правах, материал отклоняется.
  <p>
    Заявка на публикацию материала, поступившая в адрес редакции по электронной почте/ через сайт/ лично через руководство Издательства, является конклюдентным действием,
    приводящим к возникновению указанных выше прав и обязанностей, расценивается как предложение автора о заключении лицензионного договора о предоставлении права
    использования произведения с Издательством, который в соответствии с п. 2 ст. 1286 Гражданского кодекса России может быть заключен в устной форме.
  <p>Также заявка на публикацию предполагает автоматическое согласие автора на публикацию материала на указанных условиях и в определяемые с учетом загруженности редакционного портфеля журнала сроки.
  <p>
    Лицензионный договор с автором статьи считается заключенным с момента принятия редакцией статьи к опубликованию и получения автором
    подтверждения от редакции по электронной почте.
  <p>Издательство имеет право уступить полученное от Автора право третьим лицам без предварительного согласования с Автором.
  <p>
    Издательство имеет право вносить необходимую корректуру в Произведение: аннотацию, ключевые слова, список литературы без согласования с автором,
    а также тексты переводов на английский язык.
  <p>
    Издательство предоставляет Автору электронную версию его статьи в формате PDF (вместе с оглавлением и титульным листом номера журнала).
    Если Автору требуется экземпляр журнала (бумажная версия) необходимо @Html.ActionLink("оплатить его пересылку", "Prices") по почте.

  @Shared.HomeLinks(ViewContext.RouteData.Values["action"].ToString())
</div>