@using BlackHoles;
@using BlackHoles.Properties;
@using BlackHoles.Utils;
@{
  ViewBag.Title = "Публикация в журнале " + MvcApplication.Jur;
  var settings = @Settings.Default;
}

<div class="jumbotron">
  <h2>Публикация в журнале <b>@MvcApplication.Jur</b></h2>
  <p class="lead">
    Сейчас идет формирование № @settings.Number за @settings.Year год, который выйдет в @Html.PublicationMonth(settings.Number). 
    На этой странице вы можете подать заявку на публикацию в нем. Для этого нужно заполнить метаинформацию об авторах и статьях.

  </p>
  <p class="lead">
    Сначала добавьте авторов публикаций, а потом публикации (где можно будет указать заранее введенных авторов).
  </p>

  <hr />

  @if (Request.IsAuthenticated)
  {
    if (User.IsInRole(Constants.AdminRole))
    {
      <p>@Html.ActionLink("Номера", "Index", "Issues", null, new { @class = "btn btn-primary btn-lg" })</p>
    }
    <p>@Html.ActionLink("Авторы статей", "Index", "Authors", null, new { @class = "btn btn-primary btn-lg" })</p>
    <p>@Html.ActionLink("Статьи в формируемый номер", "Index", "Articles", null, new { @class = "btn btn-primary btn-lg" })</p>
  }
  else
  {
    <p class="text-danger">Вы не произвели вход в систему (не автораизовались)!</p>
    <p>Чтобы добавить запрос на публикацию нужно @Html.ActionLink("авторизоваться (войти в свою учетную запись)", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</p>
    <p>Если у Вас еще нет учетной записи, @Html.ActionLink("зарегистрируйтес", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" }) в системе.</p>
  }
</div>

