@using BlackHoles.Utils

@{
  ViewBag.Title = "Публичная оферта";
}

<style>
  ol {
    /* убираем стандартную нумерацию */
    list-style: none;
    /* Идентифицируем счетчик и даем ему имя li. Значение счетчика не указано - по умолчанию оно равно 0 */
    counter-reset: li;
  }


  li:before {
    /* Определяем элемент, который будет нумероваться — li. Псевдоэлемент before указывает, что содержимое, вставляемое при помощи свойства content, 
    будет располагаться перед пунктами списка. Здесь же устанавливается значение приращения счетчика (по умолчанию равно 1). */
    counter-increment: li;
    /* С помощью свойства content выводится номер пункта списка. counters() означает, что генерируемый текст представляет собой значения всех счетчиков с таким именем. 
    Точка в кавычках добавляет разделяющую точку между цифрами, а точка с пробелом добавляется перед содержимым каждого пункта списка */
    content: counters(li,".") ". ";
  }
</style>

<div style="max-width: 800px; margin: auto;">

  <h1 class="text-center bold">Публичная оферта</h1>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-8">Российская Федерации, г.Москва</div>
      <div class="col-xs-6 col-md-4 text-right">@DateTime.Now.ToLongDateString()</div>
    </div>
  </div>

  <p></p>

  <p>Настоящая публичная оферта представляет собой предложение заключить простой лицензионный договор на использование Произведения на условиях, определенных в этой публичной оферте.</p>

  <ol>
    <li>
      <b>Термины и их определения</b>
      <ol>
        <li><b>Лицензиат</b>&nbsp;–&nbsp;компания ООО «К-Пресс», которой предоставляется право использования Произведения на условиях, настоящей публичной офертой.</li>
        <li><b>Лицензиар</b>&nbsp;–&nbsp;автор (или авторы, если их более одного) Произведения, который согласился с условиями настоящей оферты и путем акцепта настоящей 
        оферты заключил <b>Договор</b>.</li>
        @{ var pageUrl = this.Action("Oferta", "Home"); }
        <li><b>Публичная&nbsp;оферта</b>&nbsp;–&nbsp;настоящий документ, опубликованный в сети Интернет по адресу <a href="@pageUrl">@pageUrl</a> </li>
        <li><b>Договор</b>&nbsp;–&nbsp;соглашение <b>Лицензиата</b> и <b>Лицензиара</b> о предоставлении права использования Произведения на условиях настоящей публичной оферты, 
        заключенный посредством акцепта настоящей публичной оферты.</li>
        <li><b>Акцепт&nbsp;оферты</b>&nbsp;–&nbsp;полное и безоговорочное принятие Оферты путем осуществления действий, указанных в разделе 5 настоящей публичной оферты. 
        Акцепт настоящей публичной оферты приводит к заключению договора на использование произведения на условиях, определенных настоящей публичной офертой.</li>
      </ol>
    </li>

    <li>
      <b>Предмет оферты</b>
      <ol>
        <li><b>Лицензиар</b> предоставляет <b>Лицензиату</b> право использования Произведения (простую неисключительную лицензию) путем его воспроизведения в средствах массовой информации, 
        распространения экземпляров произведения любым способом, импорта экземпляров Произведения, переработки произведения, доведения произведения до всеобщего сведения 
        в соответствии с условиями настоящей оферты.</li>
        <li>Экземпляр Произведения, право использования которого предоставляется по <b>Договору</b>, направляется <b>Лицензиаром</b> при акцепте настоящей публичной оферты 
        и является неотъемлемой частью <b>Договора</b>.</li>
      </ol>
    </li>

    <li>
      <b>Права и обязанности сторон</b>
      <ol>
        <li><b>Лицензиар</b> гарантирует, что ему принадлежит исключительное право на Произведение, экземпляр которого направляется при акцепте настоящей 
        публичной оферты и в соответствии с п.1.2. настоящей публичной оферты является неотъемлемой частью <b>Договора</b>.</li>
        <li><b>Лицензиар</b> гарантирует, что при создании Произведения не были нарушены авторские или иные права и законные интересы третьих лиц.</li>
        <li><b>Лицензиар</b> гарантирует, что при создании Произведения и последующем предоставлении права его использования <b>Лицензиату</b> не будет нарушена 
        конфиденциальная информация и информация, охраняемая в режиме коммерческой или государственной тайны.</li>
        <li><b>Лицензиар</b> гарантирует, что предоставление права использования на Произведение и его дальнейшее использование <b>Лицензиатом</b> в соответствии 
        с условиями настоящей оферты не приведет к нарушению прав третьих лиц.</li>
        <li>
          Произведение, направленное <b>Лицензиатом</b> должно быть актуальным, новым, иметь научную или практическую значимость, что подтверждается отзывом научного 
          руководителя или консультанта. При оформлении статьи необходимо предоставить следующую информацию:
          <ol>
            <li>Фамилия имя и отчество автора (рус/англ)</li>
            <li>Место работы (рус/англ)</li>
            <li>Номер специальности и ее название</li>
            <li>Ученая степень (рус)</li>
            <li>Ученое звание (рус)</li>
            <li>Должность (рус)</li>
            <li>Контактный телефон</li>
            <li>E-mail</li>
            <li>Отзыв научного руководителя.</li>
          </ol>
        </li>
        <li>При обнаружении в Произведении или отдельной его части материала, нарушающего авторские или любые другие права третьих лиц, <b>Лицензиат</b> вправе требовать 
        возмещения <b>Лицензиату</b> понесенных в связи с этим убытков, включая упущенную выгоду, а также урегулирования собственными силами всех имущественных претензий 
        со Стороны третьих лиц.</li>
        <li><b>Лицензиат</b> самостоятельно решает все вопросы использования Произведения (оформление, бумага, печать, переплет, обложка, распространение, реклама, цена, условия продажи).</li>
        <li><b>Лицензиат</b> воспроизводит Произведение в средствах массовой информации согласно внутреннему графику движения печатной продукции.</li>
        <li><b>Лицензиат</b> вправе использовать Произведение (и все входящие в его состав части) на безвозмездной основе посредством:
          <ol>
            <li>Воспроизведения (полное или частичное) Произведения в средствах массовой информации.
            <li>Распространения экземпляров Произведения или его части любым способом.
            <li>Импортирования экземпляров Произведения или его части.
            <li>Переработки, в том числе перевода Произведения.
            <li>Доведения Произведения или его части до всеобщего сведения.
          </ol>
        </li>
        <li><b>Лицензиат</b> имеет право уступить предоставленное право, указанное в п.1. настоящего <b>Договора</b>, третьим лицам без предварительного согласования с <b>Лицензиаром</b>.</li>
        <li><b>Лицензиат</b> обеспечивает <b>Лицензиарам</b> авторский экземпляр как минимум в количестве 1 шт. посредством рекомендации подписаться на данное издание.</li>
      </ol>
    </li>

    <li>
      <b>Срок действия <b>Договора</b> и территория использования произведения</b>
      <ol>
        <li>Право использования Произведения предоставляется <b>Лицензиату</b> на территории всех стран мира сроком на 5 лет с момента заключения договора в соответствии 
        с разделом 5 настоящей публичной оферты.
        <li>Датой предоставления права использования Произведения является дата заключения <b>Договора</b>.</li>
        <li>
          <b>Договор</b> действует:
          <ol>
            <li>До истечения срока, на который предоставлено право использования Произведения.</li>
            <li>До момента расторжения <b>Договора</b>.</li>
          </ol>
        </li>
      </ol>
    </li>

    <li>
      <b>Акцепт публичной оферты и заключение договора</b>
      <ol>
        <li>
          @{ var createArticleUrl = this.Action("Create", "Articles"); }
          <b>Лицензиар</b> осуществляет <b>акцепт</b> настоящей публичной оферты путем <b>проставления отметки в виде «галочки»</b> находящейся внизу (вконце) web-формы «подачи заявку на публикацию» 
          размещенной в сети Интернет по адресу <a href="@createArticleUrl">@createArticleUrl</a>.
        </li>
        
        <li>
          Акцепт данной Оферты означает, что <b>Лицензиар</b> согласен со всеми Условиями настоящей публичной оферты, 
          акцепт равносилен заключению <b>Договора</b> в соответствии с нормами Гражданского кодекса Российской Федерации.
        </li>
        
        <li>Стороны признают, что публичная оферта, различные уведомления переданные по электронной почте указанной в разделе @Html.ActionLink("контакты", "Contact"),  
        по электронной почте лица подающего заявку на публикацию (указанную при регистрации в системме)
        и системе комментариев, доступной из web-формы «подачи заявку на публикацию», 
        в том числе связанные с предложением доработки Произведения или отклонением Произведения, изменением и расторжением <b>Договора</b> признаются 
        электронными документами равнозначными документам на бумажном носителе, подписанным собственноручной подписью.</li>
      </ol>
    </li>

    <li>
      <b>Ответственность сторон</b>
      <ol>
        <li>За неисполнение обязательств по <b>Договору</b> стороны несут ответственность в соответствии с действующим законодательством РФ.</li>
        <li>В случае предъявления <b>Лицензиату</b> претензий со стороны третьих лиц в связи c предоставлением права и/или дальнейшем использованием 
        Произведения в соответствии с условиями настоящей оферты, а также в случае нарушения <b>Лицензиаром</b> своих обязательств, предусмотренных 
        разделом 1 настоящей оферты, <b>Лицензиар</b> обязуется возместить <b>Лицензиату</b> все убытки, понесенные им по предъявленным претензиям или нарушенным 
        гарантиям в течение 14 (четырнадцати) дней с момента письменного обращения <b>Лицензиата</b>.</li>
      </ol>
    </li>

    <li>
      <b>Порядок разрешения споров</b>
      <ol>
        <li>Все споры и разногласия, которые могут возникнуть между сторонами по вопросам, не нашедшим своего разрешения в тексте данной оферты, будут
        разрешаться путем переговоров на основе действующего законодательства РФ.</li>
      </ol>
    </li>

    <li>
      <b>Дополнительные условия</b>
      <ol>
        <li>Во всем остальном, что не предусмотрено настоящей офертой, стороны руководствуются действующим российским законодательством.</li>
        <li>Любые изменения и дополнения к договору действительны, при условии, если они совершены путем обмена документами, подписанными простой 
        электронной подписью, представляющей собой адрес электронной почты соответственно <b>Лицензиата</b> и <b>Лицензиара</b>.</li>
        <li>Все уведомления и сообщения должны совершаться по электронной почте <b>Лицензиата</b> и <b>Лицензиара</b> 
        или по средствам системы коментариев доступной в web-форме «подачи заявку на публикацию» на сайте http://www.k-press.ru.</li>
      </ol>
    </li>

    <li>
      <b>Расторжение Договора</b>
      <ol>
        <li><b>Договор</b> может быть расторгнут по обоюдному соглашению сторон посредством обмена письмами, подписанными простыми электронными подписями.</li>
        <li><b>Договор</b> может быть расторгнут во внесудебном порядке по инициативе <b>Лицензиата</b> в случае несоответствия Произведения требованиям, 
        указанным в п. 3.5. настоящей публичной оферты, отказа <b>Лицензиара</b> доработать Произведение или не представления доработанного Произведения 
        в течение 14 дней с момента получения от <b>Лицензиара</b> уведомления о необходимости доработки Произведения, отклонения Произведения <b>Лицензиатом</b> 
        по содержанию Произведения. С момента получения Лицензиаром уведомления <b>Лицензиата</b> об отклонении произведения, о несоответствии Произведения 
        требованиям, указанным в настоящей публичной оферте, <b>Договор</b> считается расторгнутым.</li>
      </ol>
    </li>

    <li>
      <b>Реквизиты Лицензиата</b>
      <dl class="dl-horizontal">
        <dt>Лицензиат:</dt>
        <dd>ООО «К-Пресс»</dd>

        <dt>Юридический адрес:</dt>
        <dd>119034, Москва, Комсомольский пр-т, д. 1</dd>

        <dt>ИНН:</dt>
        <dd>7704563531</dd>

        <dt>КПП:</dt>
        <dd>770401001</dd>

        <dt>Телефон:</dt>
        <dd>+7 (916) 320-71-78</dd>

        <dt>E-mail:</dt>
        <dd>vladdq@ya.ru</dd>
      </dl>
    </li>
  </ol>
</div>
