@using BlackHoles.Utils

@{ ViewBag.Title = "Требования"; }

<div style="max-width: 900px; margin: auto;">
  @Shared.HomeTab(ViewContext.RouteData.Values["action"].ToString())

  <h3 class="text-center bold">Требования к материалам, представляемым в журнал @Constants.Jur</h3>

  <p>Для публикации в журнале принимаются статьи в соответствии с тематикой журнала.</p>
  <p>Для публикации статьи в нашем издании вам нужно подать заявку на публикацию в электронном виде, через автоматизированную систему подачи заявок на публикацию.</p>
  <p>Если вы подаете заявку в первый раз, вам нужно создать учетную запись (зарегистрироваться). Это можно сделать @Html.ActionLink("здесь", "Register", "Account").</p>
  <p>Если вы уже подавали заявки на публикацию через автоматизированную систему, вам необходимо авторизоваться в системе (войти). 
  Это можно сделать @Html.ActionLink("здесь", "Login", "Account") или при обращении к формам требующим авторизации.</p>
  <p>Для подачи заявки на публикацию вам нужно:</p>
  <ol>
    <li>Ввести метаданные по каждому автору. Это можно сделать @Html.ActionLink("здесь", "Create", "Authors"). 
    Имеющийся список авторов можно просмотреть @Html.ActionLink("здесь", "Index", "Authors").</li>
    <li>Подать заявку на публикацию в текущий номер. Это можно сделать @Html.ActionLink("здесь", "Create", "Articles").
    Список поданных заявок можно просмотреть @Html.ActionLink("здесь", "Index", "Articles").</li>
  </ol>
  <p>В соответствии с требованиями ВАК и РИНЦ, вам необходимо предоставить метаданные и другие материалы:
    <ol>
      <li>Для каждого автора (описание автора может участвовать в более чем одной статье):
        <ol>
          <li><b>Адрес электронной почты</b>. Этот адрес будет указан в статье и на него будет отослан PDF статьи.</li>
          <li>Фамилия (<b>без сокращений в именительном падеже</b>).</li>
          <li>Имя, отчество (<b>без сокращений в именительном падеже, разделенные пробелом, сначала идет имя</b>).</li>
          <li>Место работы или место учебы в <b>именительном</b> падеже, <b>без указания структурных подразделений</b> (кафедры и т.п.).</li>
          <li>Ученое звание, учёная степень (через запятую, если имеется). *</li>
          <li>Должность *</li>
          <li>Структурное подразделение (кафедра, отдел, и т.п.). *</li>
          <li>Телефон. *</li>
          <li><b>Пункты 2-4 дублируются</b> на английском языке.</li>
        </ol>
      </li>
      <li>Для заявки на публикацию статьи:
        <ol>
          <li>Номер специальности (выбирается из списка <A href="http://www.k-press.ru/bh/scientific-specialties-classifier.html">научных специальностей</A>).</li>
          <li>Название статьи.</li>
          <li>Список авторов.</li>
          <li>Аннотация.</li>
          <li>Ключевые слова (порядка 1-6 слов/словосочетаний). Ключевые слова не должны быть предложениями содержащими множество слов.</li>
          <li>Список литературы и документов, на которую есть ссылки в тексте статьи.</li>
          <li>Текст статьи. Файл в формате Microsoft Word 97-2003 (предпочтительно), Microsoft Word 2007, rtf или txt.</li>
          <li>@Shared.Review(isFieldDesc: false)</li>
          <li><b>Пункты 2-4 дублируются</b> на английском языке.</li>
        </ol>
      </li>
    </ol>
    * – необязательно для заполнения поле (может быть пропущено). Однако – это не означает, что это поле не следует заполнять, в случае наличия информации.
  </p>
  
  <p>
    Статья <b>в обязательном порядке должна быть проверена</b> в системе <a href="http://www.antiplagiat.ru">http://www.antiplagiat.ru</a>.
    При проверке нужно использовать дополнительные модули: "<b>Коллекция LEXPRO</b>" и "<b>Коллекция eLIBRARY.RU</b>".
    При подготовке статей для защиты диссертаций нужно так же использовать модуль "<b>Коллекция диссертаций РГБ</b>".
    См. наши @Html.ActionLink("рекомендациями", "Antiplagiat").
  </p>

  <hr>

  <p>Статьи <b>без отзыва</b> или рецензии к публикации <b>не принимаются</b>!

  <p>
    Предоставляемые материалы должны быть актуальными, новыми (<b>оригинальными</b>, т.е.
    объем оригинального текста должен быть <b>@Constants.OriginalityPercentage%</b> или более), иметь научную или практическую
    <b>значимость</b>. <b><font color="red">Обратите внимание на то, что самоцитирование не является оригинальным материалом</font></b>
    и рассматривается как обычное цитирование. Текст, почерпнутый из других своих работ, нужно оформлять в виде цитат в соответствии с требованиями.
  <p>Статья <b>не должна содержать явных заимствований</b>, не выделенных в виде цитат со сносками 
  (см. <a href="@Url.Action("FormattingRequirements")">рекомендации по цитированию</a>).
  <p><b>Цитаты документов</b> и других правовых актов должны быть явно выделены в тексте 
  (см. <a href="@Url.Action("FormattingRequirements")">рекомендации по цитированию</a>). Не допускается изменение цитируемого текста.
  <p>
    Статья обязательно должна быть проверена системой @Shared.Antiplagiat().
    Перед проверкой обязательно ознакомьтесь с нашими <a href="@Url.Action("Antiplagiat")">рекомендациями</a> по проверке.
    Система @Shared.Antiplagiat() позволит вам определить процент оригинальности материала и наличия заимствований, не оформленных в виде цитат.
  <p>Редакция не выплачивает авторам денежные вознаграждения за предоставленные для публикации материалы.

  @Shared.HomeLinks(ViewContext.RouteData.Values["action"].ToString())
</div>